
# OBJ files
*.o

# Build artifacts
build/

# Export file types
*.pdf
*.xlsx
*.csv

# CODEX config
AGENTS.md

# Update file for developmnet 
ttb2_updates.md

# Generated databases directory from app
databases/

# VS Code settings
.vscode/settings.json

# Test files
test_files/

# Generated settings.json file from app
settings.json