# Build artifacts
build/

*.deb

*.o

# Export file types
*.pdf
*.xlsx
*.csv
*.ttbl
*.ttbx

# Dev Artifacts
.codex

.chatify.json
ttb2_export/

# Generated workspace directory
workspace/

# VS Code settings
.vscode/

# Test files
test_files/

# Generated settings file from app
settings/
